ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 19px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF8300;
}



 .body-image { 
    background-image: url("https://static.pexels.com/photos/187107/pexels-photo-187107.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
} 

.body {
  margin: 0;
}

.home {
  padding-top: 0%;
  font-family: 'Raleway', sans-serif;
  font-size: 19px ;
  color: white;
  text-align: center;
  margin: 15%;
}

.about-me {
  background-color: #767C83;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 50px 200px;
  text-align: center;
  color: #DDDDDD;
}
.projects {
  background-color: #282828;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  padding: 5%;
  color: #B2B2B2;
}

.project-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.contact {
  background-color: #F4F4F4;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  padding: 5%;
  color: #616161;
}

.h1 {
  text-align: center;
}

.contact-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/* Styles de base pour tous les écrans */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Queries pour les écrans de taille moyenne à large */
@media only screen and (min-width: 768px) {
    .container {
        padding: 30px;
    }
}

/* Media Queries pour les écrans larges */
@media only screen and (min-width: 1200px) {
    .container {
        padding: 40px;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: red;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 14px;
}

.scrolling-wrapper {
    width: 200vw; /* Largeur de l'écran */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scrolling-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

